<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe2ANo_7pmyPqva0wsoxAugjieQC-xaCU</string>
	<key>GCM_SENDER_ID</key>
	<string>214799207877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-8513e</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-8513e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214799207877:ios:c4f9a1b74cf348a77d8fac</string>
</dict>
</plist>